.leftContent {
  height: 420px;
  background: #ffffff;
  border-radius: 30px 10px 10px 30px;
  text-align: justify;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

.rightContent {
  height: 420px;
  background: #ffffff;
  border-radius: 30px;
  /* width: 385px; */
}

.rightMain {
  height: 637px;
  background: #e4ecf7;
  border-radius: 30px;
  text-align: center;
  font-size: 15px;
  color: #2b2b2b;
}

.mainDiv {
  background: #e4ecf7;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 8px;
 
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgb(255, 250, 250); */
  /* border-radius: 50px; */
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 20px 6px rgba(152, 151, 151, 0.728);
}

.markingNotation {
  background: #ffffff;
  border-radius: 20px;
  height: 90px;
}

.keyboard {
  min-height: 300px;
  max-height: 300px;
  /* overflow-x: hidden; */
  overflow-y: scroll;
  /* background: #000; */
}

.timer {
  padding: 12px;
  font-weight: bold;
  width: "100px";
  width: "100px";
  background: #e4ecf7;
  border-radius: 30px;
}
